<h1>Welcome to Pumpkin Carver!</h1>

<p>We're your one stop destination for different pumpkin carving tours. We have a wonderful selection of farms to choose from for all your pumpkin carving needs. Once you've settled on a farm, submit your pumpkin carving and win big!</p>

<% @farms.each do |farm| %>

  <div class="farm-card" style="background-image: <%= farm.img_url %>;">
    <%= link_to farm.name, farm_path(farm) %>
  </div>

<% end %>
