body {
  background-image: url("https://www.gotolouisville.com/imager/s3_us-east-1_amazonaws_com/louisville-2019/images/page-images/lcvb-jackspectac13-pearl_02_4739c54e174f66b55f651ecc1534086d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2em;

  * {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  input {
    background: black;
    color: white;
    display: block;
  }

  h1,h2,h3,h4,h5,h6,p {
    text-align: center;
    background: black;
    border: orange 2px solid;
    border-radius: 4px;
    padding: 1em;
    display: block;
  }
}

.flash-message {
  background-color: black;
  border: solid green 2px;
  color: green;
  display: inline-block;
  padding: 1em;
}

.flash-error {
  background-color: black;
  border: solid red 2px;
  color: red;
  display: inline-block;
  padding: 1em;
}

nav {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 1s;
  width: 3em;
  height: 1em;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: solid white 2px;
  border-bottom: solid white 2px;
  border-radius: 0 0 5px 0;

  span {
    cursor: default;
  }
}

a {
  padding-left: 1em;
  text-decoration: none;
}

nav:hover {
  width: 40em;
}

.farm-img {
  width: 80vw;
  height: 40vh;
  object-fit: cover;
  margin: auto;
  border: solid black 4px;
  border-radius: 5px;
  margin-left: 9vw;
}

select {
  background-color: black;
}
