<h1>Pumpkin#index</h1>
<% @pumpkins.each do |pumpkin| %>
<h2><%= link_to pumpkin.name, pumpkin_path(pumpkin) %></h2>
<p><%= image_tag(pumpkin.img_url) %></p>
<p>Farm: <%= pumpkin.farm.name if pumpkin.farm %></p>
<% end %>
